@import "file:////Users/themaoqiu/CodeRepo/Nextjs/Xingjian-Wang.github.io/node_modules/vuepress-theme-hope/templates/palette/config.scss";
@import "file:////Users/themaoqiu/CodeRepo/Nextjs/Xingjian-Wang.github.io/node_modules/@vuepress/plugin-sass-palette/styles/empty.scss";
