@import "file:////Users/themaoqiu/CodeRepo/Nextjs/Xingjian-Wang.github.io/node_modules/vuepress-theme-hope/templates/palette/palette.scss";
@import "file:////Users/themaoqiu/CodeRepo/Nextjs/Xingjian-Wang.github.io/docs/.vuepress/styles/palette.scss";
@import "file:////Users/themaoqiu/CodeRepo/Nextjs/Xingjian-Wang.github.io/node_modules/vuepress-theme-hope/templates/palette/generator.scss";
